<!-- <div class="body-Form">
  <form [formGroup]="clienteForm" (ngSubmit)="crearCliente()">

    <div class="container-DataInfoFind">

      <div class="containerInfo">
        <label class="lbl-info" for="nombre">Nombre:</label>
        <div class="container-Input">
          <input type="text" name="nombre" id="nombre" placeholder="Nombre del Cliente" formControlName="str_cliente_nombre" required>
        </div>
      </div>

      <div class="containerInfo">
        <label class="lbl-info" for="ruc">RUC:</label>
        <div class="container-Input">
          <input type="text" name="ruc" id="ruc" placeholder="RUC del Cliente" formControlName="str_cliente_ruc" required>
        </div>
      </div>

      <div class="containerInfo">
        <label class="lbl-info" for="correo">Correo:</label>
        <div class="container-Input">
          <input type="email" name="correo" id="correo" placeholder="Correo del Cliente" formControlName="str_cliente_correo" required>
        </div>
      </div>

      <div class="containerInfo">
        <label class="lbl-info" for="telefono">Teléfono:</label>
        <div class="container-Input">
          <input type="text" name="telefono" id="telefono" placeholder="Teléfono del Cliente" formControlName="str_cliente_telefono" required>
        </div>
      </div>

      <div class="containerInfo">
        <label class="lbl-info" for="direccion">Dirección:</label>
        <div class="container-Input">
          <input type="text" name="direccion" id="direccion" placeholder="Dirección del Cliente" formControlName="str_cliente_direccion" required>
        </div>
      </div>
      <div class="containerInfo">
        <label class="lbl-info" for="password">Contraseña:</label>
        <div class="container-Input">
          <input type="password" name="password" id="password" placeholder="Contraseña del Cliente" formControlName="str_cliente_password" required>
        </div>
      </div>

    </div>

    <div class="cont">
      <button class="btn-primary-add" type="submit" [disabled]="!clienteForm.valid">Guardar</button>
    </div>

  </form>
</div> -->
