<div class="containerPrincipalReporte">
  <div class="container-inicio">
    <h2>Quesera <strong>{{informacionQuesera.str_cliente_nombre}}</strong></h2>
      <div class="opciones">
        <button mat-raised-button color="secundary" (click)="showComponent('IngresosGastos')">Balance de Ingresos y Gastos</button>
        <button mat-raised-button color="secundary" (click)="showComponent('Balance2')">Balance General</button>
        <button mat-raised-button color="secundary" (click)="showComponent('Balance3')">Balance de Comprobación</button>
      </div>
  </div>

  <ng-container *ngIf="currentComponent === 'IngresosGastos'">
    <app-reportes-ingresos></app-reportes-ingresos>
  </ng-container>

  <ng-container *ngIf="currentComponent === 'Balance2'">
    <app-reportes-general></app-reportes-general>
  </ng-container>

  <ng-container *ngIf="currentComponent === 'Balance3'">
    <app-reportes-comprobacion></app-reportes-comprobacion>
  </ng-container>

</div>
