.containerPrincipal {
  background-color: #f0f3f5;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-inicio {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: white;
  margin: 1rem;
  height: 100%;
  
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:not(:disabled):hover {
  background-color: #45a049;
}
.opciones{
  display: flex;
  justify-content: left;
  gap: 1rem;
}



