
<div>
  <header>
    <h1>Balance General</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>Cuenta</th>
                <th>Descripción</th>
                <th>Débito</th>
                <th>Crédito</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Banco</td>
                <td>$10,000.00</td>
                <td></td>
            </tr>
            <tr>
                <td>2001</td>
                <td>Clientes</td>
                <td>$5,000.00</td>
                <td></td>
            </tr>
            <tr>
                <td>3001</td>
                <td>Proveedores</td>
                <td></td>
                <td>$7,000.00</td>
            </tr>
            <tr>
                <td>4001</td>
                <td>Capital</td>
                <td></td>
                <td>$8,000.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total</td>
                <td>$15,000.00</td>
                <td>$15,000.00</td>
            </tr>
        </tfoot>
    </table>
</main>
</div>




