<div class="containerPrincipal">
  <div class="container-inicio">
    <div class="info-user">
       <div class="info-user-img">
         <img src="../../assets/canitas.png" alt="quesera" />
       </div>
    </div>

   <div class="chart-container">
    <p>Gráfico de <strong>Ingresos</strong></p>
     <canvas  id="MyChart" >{{ chart }}</canvas>
     <hr>
   </div>
   <div class="chart-container">
     <p>Gráfico de <strong>Ingresos</strong></p>
     <canvas  id="MyChart2" >{{ chart }}</canvas>
   </div>

  </div>

</div>


