body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #28a745;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr strong {
  font-weight: bold;
}

tfoot td {
  font-weight: bold;
  background-color: #f9f9f9;
}

.container::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}
